BasedOnStyle: Google
Standard: Cpp11
Language: Cpp

ColumnLimit: 180
IndentWidth: 4
AccessModifierOffset: -2
ConstructorInitializerIndentWidth: 6
SpacesBeforeTrailingComments: 1
UseTab: Never

SortIncludes: true

PointerAlignment: Left

AlignOperands: true
AlignTrailingComments: true

AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

ConstructorInitializerAllOnOneLineOrOnePerLine: true

IncludeCategories:
  # Headers in <> without extension.
  - Regex:           '<([A-Za-z0-9\/-_])+>'
    Priority:        3
  # C Headers in <.h>
  - Regex:           '<([A-Za-z0-9\/-_])+\.h>'
    Priority:        2
  # Headers in ""
  - Regex:           '"([A-Za-z0-9.\/-_])+"'
    Priority:        1